body{
 background-color: #F5F5F5;
}

img{
  max-width: 100%;
}
h1, h2, h3 {
  font-family: 'Mulish', serif;
  color: #093643;
}
 h4, h5, h6,p{
font-family: 'Mulish', sans-serif;
font-size: 1.2rem;
color: #093643;
 }
main{
  min-height: 400px;
}

.nav-hero{
    background-color: #95AAAB;
  
}
.nav-hero a{
  text-decoration: none;
  color: inherit;
}

.logo{
  width: 60px;
}

.row {
  padding: 20px;
}
.img-card{
  height: 200px;
  object-fit: cover;
}