body{
 background-color: #F5F5F5;
}

main{
  min-height: 400px;
}

.nav-hero{
    background-color: #95AAAB;
  
}
.nav-hero a{
  text-decoration: none;
  color: inherit;
}
.logo{
  width: 60px;
}



.row {
  padding: 20px;
}